

<header>
  <div class="heading">
    <h1>Statistical API DB</h1>
  </div>

  <div class="navbar">

    <div class="table-1">
      <button class="button" routerLink="/Labour">Labour</button>
    </div>

    <div class="table-2">
      <button class="button" routerLink="/Buissness">Buissness</button>
    </div>

    <div class="table-3">
      <button class="button" routerLink="/Environment">Environment</button>
    </div>

  </div>

</header>


<!-- <div>{{ data | json }}</div> --> 

<!-- <table border="1">

  <tr>
    <td>S.No</td>
    <td>Id</td>
    <td>Type</td>
    <td>Text</td>
  </tr>

  <tr *ngFor="let item of data; let i =index;">
    <td>{{ i+1 }}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.type}}</td>
    <td>{{ item.text }}</td>
  </tr>

</table> -->

<!-- list -->

<!-- <div>{{ data.title }}</div> -->


<!-- <p>List from API </p> 
<ul>
  <li *ngFor="let item of data">
    {{item.title | json}}
  </li>
</ul> -->

<router-outlet></router-outlet>

<!-- <app-table-one></app-table-one>
<app-table-two></app-table-two>
<app-table-three></app-table-three> -->